*
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    /*color*/
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:rgb(87,9,9);
    --secondary-color:rgb(213, 147, 14);
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;
    /*font-sixe*/
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;
    /*font weight*/
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

}

html {
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor:pointer;
    border:none;
    background: none;
}

img{
    width:100%;
}

.section-content
{
    margin:0 auto;
    padding:0 20px;
}
.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}
.section-title::after {
    content: "";
    width: 80px;
    height:5px;
    display: block;
    margin:10px auto 0;
    border-radius: 20px;
    background: var(--primary-color);
}
/*nav bar atyling*/

header{
    background-color: rgb(87, 9, 9);
    position: fixed;
    width:100%;
    z-index:5;
}
header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.navbar .nav-logo .logo-text
{
    color:white;
    font-size: x-large;
    font-weight: bold;
}
 
.navbar .nav-menu
{
    display: flex;
    gap:10px;
}
.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: medium;
    color: white;
    border-radius: 50px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover
{
    background:rgb(213, 147, 14) ;
    color:rgb(87, 9, 9);
}

.navbar #menu-close-button,
.navbar #menu-open-button
{
    display: none;
}


/*hero secction*/
.hero-section
{
    min-height: 100vh;
    background-color: rgb(87, 9, 9);
}

.hero-section .section-content 
{
    display: flex;
    align-items:center;
    min-height: 100vh;
    color:white;
    justify-content: space-evenly;
}

.hero-section .hero-details .title
{
    font-size: xx-large;
    color:rgb(213, 147, 14);
    font-family:'pacifico','cursive';
}

.hero-section .hero-details .subtitle
{
    font-size: x-large;
    margin-top: 8px;
    max-width: 70%;
    font-weight: bold;
}

.hero-section .hero-details .description
{
    max-width: 80%;
    margin:24px 0 40px;
    font-size: medium;
}

.hero-section .hero-details .buttons
{
    display: flex;
    gap:23px;
}

.hero-section .hero-details .button
{
    padding:10px 26px;
    border: 2px solid transparent;
    color:rgb(87, 9, 9);
    border-radius: 50px;
    background-color:rgb(213, 147, 14) ;
    font-weight:lighter;
    transition: 0.5s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
    color:white;
    border-color: white;
    background: transparent;
}

.hero-section .hero-details .contact-us:hover{
     color:rgb(87, 9, 9);
    border-color:rgb(213, 147, 14);
    background: rgb(213, 147, 14);
}
.hero-section .hero-image-wrapper 
{
    max-width: 500px;
    margin-right: 30px;
}

.about-section {
    padding: 120px 0;
    background: var(--light-pink-color);
}
.about-section .section-content {
    display: flex;
    gap:50px;
    align-items:center;
    justify-content: space-evenly;
}
.about-section .about-image-wrapper .about-image {
    width:400px;
    height:400px;
    object-fit: cover;
    border-radius: 400px;
}
.about-section .about-details .section-title {
    padding:0;
}
.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin:50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}
.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.about-section .social-link-list .social-link {
    color:var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.3s ease;
}

.about-section .social-link-list .social-link:hover {
color: var(--secondary-color);
transition: 0.3s ease;
}

/*menu section styling */
.menu-section {
    color: var(--white-color);
    background: rgb(25,25,25);
    padding: 50px 0 100px;
}
.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image 
{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text 
{
    font-size: var(--font-size-m);
}

/*testimonials section styling */
.testimonials-section {
    padding:50px 0 100px;
    background: var(--light-pink-color);
}

.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonials-section .testimonial {
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction:column;
    align-items: center;
}

.testimonials-section .testimonial .user-image {
    width:180px;
    height:180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 180px;
}

.testimonials-section .testimonial .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback {
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet {
    width:15px;
    height:15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.testimonials-section .swiper-slide-button:hover {
    color:var(--primary-color);
}

/* Gallery section styling */
.gallery-section {
    padding:50px 0 100px;
} 

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius:10px;
    width: calc(100% / 3 - 32px);
}

.gallery-section .gallery-item .gallery-image {
    width:100%;
    height:100%;
    cursor:zoom-in;
    transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3);
}

/* Contact Section Styling */
.contact-section {
    background: var(--light-pink-color);
    padding: 50px 0 100px;
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i {
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-color);
    border-radius: 10px;
    border: 1px solid var(--medium-gray-color);
}

.contact-section .contact-form {
    max-width: 50%;
}

.contact-section .contact-form .form-input:focus {
    border-color: var(--secondary-color);
}

.contact-section .contact-form textarea {
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button {
    background: var(--primary-color);
    margin-top: 10px;
    padding: 10px 26px;
    color:var(--white-color);
    border-radius: 20px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
    color: var(--primary-color);
    background: transparent;
}

/* Footer styling */
.footer-section {
    padding: 20px 0;
    background: var(--dark-color);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link , .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
    color:var(--secondary-color)
}

.footer-section .policy-text .seperator {
    color: var(--white-color);
    margin: 0 5px;

}

/* responsive media query for max width 1024px*/

@media screen and (max-width:1024px) {
    .menu-section .menu-list {
        gap:60px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 3 - 60px);
    }
}

/* responsive media query for max width 900px*/
@media screen and (max-width:900px){
    :root {
    --font-size-m:1rem;
    --font-size-l:1.3rem;
    --font-size-xl:1.5rem;
    --font-size-xxl:1.8rem;
    }

    .show-mobile-menu header::before {
        content:"";
        position:fixed;
        left:0;
        top:0;
        height:100%;
        width:100%;
        backdrop-filter: blur(5px);
        background: rgba(0,0,0,0.2);
    }

    .navbar #menu-close-button,
    .navbar #menu-open-button
    {
        font-size:var(--font-size-l);
        display: block;
    }  

    .navbar #menu-close-button
    {
        position: absolute;
        right:30px;
        top:30px;
    }
    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top:0;
        width:300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: white;
        transition: left 0.2s ease;
    }

    .show-mobile-menu .navbar .nav-menu {
        left:0;
    }

    .navbar .nav-menu .nav-link
    {
        color:darkslategray;
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);

    }

    .hero-section .section-content
    {
        gap:50px;
        text-align: center;
        padding:30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle,.description), .about-section .about-details, .contact-section .contact-form {
        max-width: 100%;
    }
    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }
    .about-section .section-content {
        gap: 70px;
        flex-direction: column;
    }
    .about-section .about-image-wrapper .about-image {
        width:100%;
        height:100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

     .menu-section .menu-list {
        gap:30px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 2 - 30px);
    }
    .menu-section .menu-list .menu-item .menu-image {
        max-width: 200px;
    }

    .gallery-section .gallery-list {
        gap: 30px;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }
    
}

/* responsive media query for max width 640px*/
@media screen and (max-width:640px) {
    .menu-section .menu-list {
        gap: 60px;
    }
    .menu-section .menu-list .menu-item,
    .gallery-section .gallery-list .gallery-item {
        width:100%;
    }

    .testimonials-section .slider-wrapper {
        margin: 0 0 30px;
    }

    .testimonials-section .swiper-slide-button {
        display: none;
    } 

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
    
}